<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      dev/All
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-searchbar placeholder="Buscar" (ionChange)="buscaPost($event)"></ion-searchbar>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" *ngFor="let post of posts">
        <ion-card (click)="postCliqueId(post.id)">
          <ion-img src={{post.thumbnail}}></ion-img>
          <ion-card-header>
            <ion-card-title>{{post.id}} - {{post.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{post.cliques}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>